div{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}
p{
    font-size: 12px;
    transform: all 1s;
    -o-transform:all 1s;
    -webkit-transform :all 1s;
}
h2{
    color: red;
}
